html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	
	font-family: "Lucidia Sans Unicode" "Lucidia Grande" sans-serif;
}

body {
	text-align: center;
	background-color: #000000;
}

form {
	margin: 0;
}

a.button {
	font-size: 20px;
	text-decoration: none;
}

.tlc {
	width: 80%;
	min-width: 900px;
	margin: 0 auto;
	
	background-color: #FFFFFF;
}

h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-size: 50px;
	font-style: oblique;
	font-weight: normal;
}

div.swatchPanel {
	float: left;
	margin-left: 50px;
	
	text-align: left;
}

div.swatchPanel + div#easel + div.swatchPanel {
	float: right;
	margin-right: 50px;
	margin-left: 0;
	
	text-align: right;
}

div.swatchPanel div {
	width: 100px;
	height: 100px;
	
	margin-bottom: 20px;
	
	border: 2px solid #000000;
}

div.swatchPanel div.selectedSwatch {
	border-color: #999999;
}

div#easel {
	display: inline-block;
	margin: 0 auto;
	
	width: 604px;
	height: 404px;
}

canvas {
	display: none;
	
	position: absolute;
	z-index: 10;
	
	width: 600px;
	height: 400px;
	
	border: 2px solid #000000;
}

canvas + canvas {
	z-index: 20;
}

div#userImageFooter {
	clear: both;
}

div#productArea {
	padding-top: 50px;
	text-align: left;
}

div.productList {
	padding-bottom: 5px;
	text-align: center;
}

div.productWrapper {
	display: inline-block;
	
	width: 256px;
	height: 256px;
}

img.productImage {
	width: 256px;
	height: 256px;
}