html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #000000;
}

.tlc {
	width: 80%;
	min-width: 900px;
	margin: 0 auto;
	
	background-color: #FFFFFF;
}

h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-family: "Lucidia Sans Unicode" "Lucidia Grande" sans-serif;
	font-size: 50px;
	font-style: oblique;
	font-weight: normal;
}

div.swatchPanel {
	float: left;
	margin-left: 50px;
	
	text-align: left;
}

div.swatchPanel + div#easel + div.swatchPanel {
	float: right;
	margin-right: 50px;
	margin-left: 0;
	
	text-align: right;
}

div.swatchPanel div {
	width: 100px;
	height: 100px;
	
	margin-bottom: 20px;
	
	border: 2px solid #000000;
}

div.swatchPanel div.selectedSwatch {
	border-color: #999999;
}

div#easel {
	display: inline-block;
	margin: 0 auto;
	
	width: 604px;
	height: 404px;
}

canvas {
	display: inline-block;
	
	position: absolute;
	z-index: 10;
	
	width: 600px;
	height: 400px;
	
	border: 2px solid #000000;
}

canvas + canvas {
	z-index: 20;
}

div#userImageFooter {
	clear: both;
}

div#productArea {
	padding-top: 50px;
	text-align: left;
}

div#productList {
	text-align: center;
}

div.productWrapper {
	width: 150px;
	display: inline-block;
}

img.productImage {
	width: 100px;
	height: 150px;
	background-color: #000000;
}

/* temp colour fills, get rid of these */
div.swatchPanel div { background-color: #ff0; }
div.swatchPanel div + div { background-color: #f0f; }
div.swatchPanel div + div + div { background-color: #0ff; }